.Container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
}

.Header {
  width: 100%;
  background-color: #222;
  color: #FFF;
  padding: 15px;
}

.Content {
  background-color: #eee;
}

.Footer {
  padding: 15px;
  background-color: #ddd;

}
